h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
}

#danke{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: grey;
    text-align: center;
}
h4 {
    color: green;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin-bottom: 10px;
}

#form{
    width: 600px;
    float: left;
}

#auswahl{
    text-align: center;
}

/*--------EINKAUF----------*/

#slider{
    float: left;
}

#artikel{
    float: left;
    margin-left: 15px;
}

#markt{
    width: 150px;
    height: 20px;
    margin-left: 20px;
}

/*---Inputs anordnung*/
input[type="radio"], input[type="checkbox"], label {
	display: inline;
}
label::after {
	content:"";
	display: block;
}




/*-------OUTPUT LISTE-------*/

#list{
    border: 1px solid black;
    margin-left: 50px;
    width: 500px;
    height: auto;
    float: left;
}


/*-------BUTTONS---------*/
#confirm{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#confirm:hover{
    background-color: green;
}

#btn1{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    position: relative;
    top: 50px;
    left: 70px;
}

#btn1:hover{
    background-color: green;
}

#btn2{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    position: relative;
    left: 435px;
    top: -30px;
}

#btn2:hover{
    background-color: green;
}

#btn3{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    position: relative;
    left: 435px;
    top: -30px;
}

#btn3:hover{
    background-color: green;
}

#btn4{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    position: relative;
    left: 435px;
    top: -30px;
}

#btn4:hover{
    background-color: green;
}

#delete{
    width: 100px;
    height: 30px;
    background-color: #0d2e0d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    float: right;
    
}

#delete:hover{
    background-color: green;
}